* {
    font-family: 'Quicksand', sans-serif;
    margin: 0;
}
body {
    max-width: 1440px;
    margin: 0 auto;
}
.primary-btn {
    margin-top: 45px;
    background-color: #ff004c;
    padding: 15px 20px;
    font-size: 20px;
    font-weight: 600;
    color: #FFFFFF;
    border-style: none;
    border-radius: 5px;
}


/* Start Header Style */
header {
    color: white;
    background: linear-gradient(to bottom, rgba(99, 99, 100, 0.52), rgba(0, 0, 0, 0.774)),
    url('images/donation1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    text-align: center;
}
header section {
    padding: 160px 300px;
}
header h1 {
    font-weight: 700;
    font-size: 65px;
}
header p {
    padding: 20px 100px 0;
    font-size: 18px;
    font-weight: 400;
    color: #FFFFFF;
}
/* End Header Section */

/* Donate Today Section Start */
main {
    margin-top: 130px;
    text-align: center;
}
.primary-title {
    font-size: 45px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
}
.primary-para {
    font-size: 18px;
    font-weight: 400;
    color: #707070;
    margin-bottom: 50px;
}
.donate-today {
    margin: 0 300px;
    text-align: center;
}
.amount-item {
    color: #707070;
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: center;
    margin: 50px 0;
}
.amount-item button {
    font-size: 30px;
    font-weight: 700;
    width: 140px;
    height: 125px;
    background-color: #f8f8f8;
    border-style: none;
    border-radius: 5px;
    cursor: pointer;
}
.amount-item .active {
    color: #ff004c;
    border: #ff004c solid 4px;
    background-color: #ffe5ed;
}
.donate-today input {
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    border: none;
    width: auto;
    height: 30px;
}
/* Donate Today Section End */